body {
  background-position: center;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  height: 100%;
}

body * {
  color: white;
  text-decoration: none;
}

.Main {
  display: flex;
  margin-right: 2em;
  
}

.navigation {
  text-decoration: none;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

/* Navigation button */
.navigation ul li {
  margin-top: 0.6em; /* grossit l'espacement */
  margin-left: -2em; /* grossit l'espacement */
  margin-right: 2em; /* grossit l'espacement */
  padding: 1.2em; /* grossit l'élément */
  flex: 1;
  font-size: 1.2em;
  font-family: monospace;
  text-decoration: none;
  background-color: rgb(0, 73, 128);
  width: 15em;
  border-radius: 1em;
  transition:300ms;
}

.navigation ul li:hover {
  background-color: rgb(0, 33, 116);
  border-radius: 0em;
}

.Content {
  font-size: 1.2em;
  margin-bottom:2em;
  margin-left: 2em;
  margin-right: 2em;
}

.Content .Info {
  display: grid;
  align-items:end;
  height:100%;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

li {
  display: flex;
}

ul {
  text-decoration: none;
}

.projet {
  justify-content: space-between;
  display: flex;
  margin-top: 2em;
}

.navBarProj {
  display: flex;
  margin-left: 2em; /* grossit l'espacement */
}

/* project navigation button   */
.navBarProj div li {
  margin-top: 0.5em; /* grossit l'espacement */
  margin-right: 0.5em; /* grossit l'espacement */
  margin-bottom: 1em; /* grossit l'espacement */
  padding: 1.2em; /* grossit l'élément */
  background-color: rgb(0, 123, 157);
  border-radius: 2em;
  transition: 300ms;
  
}

.navBarProj div li:hover {
  color: black;
  /* background-color: rgb(125, 0, 0); */
  z-index: -1;
  background: linear-gradient(to right, rgb(125, 0, 0), rgb(125, 0, 0));
  box-shadow:0em 0em 1.5em;

}

.projet ul {
  margin-right:2em;
}

.Content ul {
  margin-top: 1rem;
}

.Content ul li {
  margin-top: 0.5rem;
}
.projet img {
  width: 50em;
  height: 30em;
}

.NavBar {
  margin-top: 50px;
}

.NavBar .Logo {
  display: flex;
  justify-content:center;
}

.Content .Warning {
  margin: 15rem;
  color:red;
}

.Content {
  display:flex;
  flex-direction: column;
  width:1000em;
}

.Skills {
  display: flex;
  justify-content: space-around;
}
